body {
  background: #1c3763;
  background: -moz-linear-gradient(98deg, #1c3763 0%, #392a40 35%, #6c324f 53%, #bb3b56 100%);
  background: -webkit-linear-gradient(98deg, #1c3763 0%, #392a40 35%, #6c324f 53%, #bb3b56 100%);
  background: linear-gradient(98deg, #1c3763 0%, #392a40 35%, #6c324f 53%, #bb3b56 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3763",endColorstr="#bb3b56",GradientType=1);
  background-repeat: no-repeat;
  position: relative;
  height: 100vh; }

#head {
  padding: 4rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; }
  #head .logo img {
    max-width: 135px; }
  #head .menu {
    flex: 1;
    text-align: right; }
    #head .menu ul li {
      display: inline-block;
      text-decoration: none; }
      #head .menu ul li .ghost {
        font-family: 'Titillium Web', sans-serif;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ffffff;
        cursor: pointer;
        background: #fff0;
        text-align: center;
        border: 1px solid #ffffff;
        border-radius: 50px;
        position: relative;
        overflow: hidden !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        z-index: 10;
        padding: 0.5rem 2.5rem; }
        #head .menu ul li .ghost:hover {
          border: 1px solid #BB3B56; }
        #head .menu ul li .ghost:before {
          content: '';
          width: 0%;
          height: 100%;
          display: block;
          background: #BB3B56;
          position: absolute;
          -ms-transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
          left: -10%;
          opacity: 1;
          top: 0;
          z-index: -12;
          -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
          -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
          -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
          transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }
        #head .menu ul li .ghost:after {
          content: '';
          width: 0%;
          height: 100%;
          display: block;
          position: absolute;
          -ms-transform: skewX(-20deg);
          -webkit-transform: skewX(-20deg);
          transform: skewX(-20deg);
          left: -10%;
          opacity: 0;
          top: 0;
          z-index: -15;
          -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
          -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
          -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
          transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
          box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }
        #head .menu ul li .ghost:hover::before, #head .menu ul li .ghost:hover::before {
          opacity: 1;
          width: 116%; }
        #head .menu ul li .ghost::after, #head .menu ul li .ghost:hover::after {
          opacity: 1;
          width: 120%; }
  @media (max-width: 569px) {
    #head .menu {
      display: none; } }

@media (max-width: 569px) {
  #head {
    padding: 2.5rem 0rem; } }

#login .login-img img {
  max-width: 760px;
  position: absolute;
  left: 120px;
  top: 15%; }

#login .form-box {
  padding: 7rem 0rem; }
  #login .form-box h2 {
    color: #ffffff;
    font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 2.2rem; }
  #login .form-box form {
    font-family: 'Titillium Web', sans-serif;
    color: #ffffff;
    margin: 1.5rem 0rem; }
    #login .form-box form .form-control {
      color: #ffffff;
      padding: 1.2rem 1.5rem;
      font-size: 1rem;
      line-height: 1.25;
      background-color: #fff0;
      border: 2px solid white;
      border-radius: 35px;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      letter-spacing: 1px; }
      #login .form-box form .form-control:focus {
        border-color: #71A8F7;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5); }
    #login .form-box form ::placeholder {
      /* Firefox, Chrome, Opera */
      color: #ffffff; }
    #login .form-box form :-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ffffff; }
    #login .form-box form .btn-primary {
      background-color: #1C3763;
      border-color: #1C3763;
      padding: 1.2rem 1.5rem;
      width: 100%;
      font-size: 1rem;
      border-radius: 35px;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;
      transition: all 0.5s;
      position: relative;
      transition: 0.5s; }
      #login .form-box form .btn-primary::after {
        content: '\f30b';
        font-weight: 900;
        font-family: "Font Awesome 5 Free";
        margin-left: 6px;
        position: absolute;
        opacity: 1;
        top: 18px;
        right: 41%;
        transition: 0.3s; }
      #login .form-box form .btn-primary:hover {
        padding-right: 24px;
        padding-left: 8px;
        background: #BB3B56;
        border-color: #BB3B56; }
      #login .form-box form .btn-primary:hover:after {
        content: '\f101';
        opacity: 1;
        right: 40%;
        top: 18px; }
  #login .form-box ul li {
    list-style-type: none;
    text-align: right;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.25rem;
    font-size: 0.8rem; }
    #login .form-box ul li a {
      color: #ffffff;
      text-decoration: underline;
      transition: 0.3s; }
      #login .form-box ul li a:hover {
        color: #71A8F7; }

#login .menu {
  display: none; }

@media (max-width: 1199px) {
  #login .login-img img {
    max-width: 560px;
    left: 50px; }
  #login .form-box {
    padding: 5rem 0rem; }
    #login .form-box form .btn-primary::after {
      right: 38%; }
    #login .form-box form .btn-primary:hover:after {
      right: 39%; } }

@media (max-width: 769px) {
  #login .login-img img {
    max-width: 460px;
    left: 0px; }
  #login .form-box {
    padding: 2rem 0rem 4rem 0rem; }
    #login .form-box form .btn-primary::after {
      right: 36%; }
    #login .form-box form .btn-primary:hover:after {
      right: 37%; } }

@media (max-width: 569px) {
  #login .login-img {
    display: none; }
  #login .form-box {
    padding: 2rem 0.75rem 1rem 0.75rem;
    text-align: center; }
    #login .form-box h2 {
      font-size: 1.6rem; }
    #login .form-box form .btn-primary::after {
      right: 36%; }
    #login .form-box form .btn-primary:hover:after {
      right: 37%; }
    #login .form-box ul li {
      text-align: center; } }

@media (max-width: 569px) {
  #login {
    padding-bottom: 3rem; }
    #login .menu {
      text-align: center;
      display: initial; }
      #login .menu ul {
        margin: 0rem 0.75rem 0rem -1.75rem; }
        #login .menu ul li {
          display: inline-block;
          text-decoration: none;
          width: 100%; }
          #login .menu ul li .ghost {
            font-family: 'Titillium Web', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: #ffffff;
            cursor: pointer;
            background: #BB3B56;
            text-align: center;
            border: 1px solid #BB3B56;
            border-radius: 50px;
            position: relative;
            overflow: hidden !important;
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
            z-index: 10;
            display: block;
            width: 100%;
            padding: 1rem; }
            #login .menu ul li .ghost:hover {
              border: 1px solid #ffffff;
              color: #BB3B56; }
            #login .menu ul li .ghost:before {
              content: '';
              width: 0%;
              height: 100%;
              display: block;
              background: #ffffff;
              position: absolute;
              -ms-transform: skewX(-20deg);
              -webkit-transform: skewX(-20deg);
              transform: skewX(-20deg);
              left: -10%;
              opacity: 1;
              top: 0;
              z-index: -12;
              -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
              -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
              -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
              transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
              box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }
            #login .menu ul li .ghost:after {
              content: '';
              width: 0%;
              height: 100%;
              display: block;
              position: absolute;
              -ms-transform: skewX(-20deg);
              -webkit-transform: skewX(-20deg);
              transform: skewX(-20deg);
              left: -10%;
              opacity: 0;
              top: 0;
              z-index: -15;
              -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
              -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
              -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
              transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
              box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6); }
            #login .menu ul li .ghost:hover::before, #login .menu ul li .ghost:hover::before {
              opacity: 1;
              width: 116%; }
            #login .menu ul li .ghost::after, #login .menu ul li .ghost:hover::after {
              opacity: 1;
              width: 120%; } }
