//Colors
$color-white: #ffffff;
$color-blue: #1C3763;
$color-pink: #BB3B56;
$color-soft-blue: #71A8F7;

body {
	background: rgb(28,55,99);
	background: -moz-linear-gradient(98deg, rgba(28,55,99,1) 0%, rgba(57,42,64,1) 35%, rgba(108,50,79,1) 53%, rgba(187,59,86,1) 100%);
	background: -webkit-linear-gradient(98deg, rgba(28,55,99,1) 0%, rgba(57,42,64,1) 35%, rgba(108,50,79,1) 53%, rgba(187,59,86,1) 100%);
	background: linear-gradient(98deg, rgba(28,55,99,1) 0%, rgba(57,42,64,1) 35%, rgba(108,50,79,1) 53%, rgba(187,59,86,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c3763",endColorstr="#bb3b56",GradientType=1);
	background-repeat: no-repeat;
	position: relative;
	height: 100vh;
}

#head {
	padding: 4rem 0rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
	.logo {
	    img {
	    	max-width: 135px;
	    }
	}
	.menu{
		flex: 1;
		text-align: right;
		ul li{
			display: inline-block;
			text-decoration: none;
			.ghost {
				font-family: 'Titillium Web', sans-serif;
			    text-transform: uppercase;
			    letter-spacing: 2px;
			    color: $color-white;
			    cursor: pointer;
			    background: #fff0;
			    text-align: center;
			    border: 1px solid $color-white;
			    border-radius: 50px;
			    position: relative;
			    overflow: hidden!important;
			    -webkit-transition: all .3s ease-in-out;
			    -moz-transition: all .3s ease-in-out;
			    -o-transition: all .3s ease-in-out;
			    transition: all .3s ease-in-out;
			    z-index:10;
			    padding: 0.5rem 2.5rem;
				&:hover{
					border: 1px solid $color-pink;
				}
				&:before {
				    content: '';
				    width: 0%;
				    height: 100%;
				    display: block;
				    background: $color-pink;
				    position: absolute;
					  -ms-transform: skewX(-20deg);
				    -webkit-transform: skewX(-20deg); 
				    transform: skewX(-20deg);   
				    left: -10%;
				    opacity: 1;
				    top: 0;
				    z-index: -12;
				    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
					-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
					-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
					transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
					box-shadow:2px 0px 14px rgba(0,0,0,.6);
				}
 				&:after {
				    content: '';
				    width: 0%;
				    height: 100%;
				    display: block;
				    position: absolute;
					-ms-transform: skewX(-20deg);
				    -webkit-transform: skewX(-20deg); 
				    transform: skewX(-20deg);   
				    left: -10%;
				    opacity: 0;
				    top: 0;
				    z-index: -15;
				    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
				    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
				    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
				    transition: all .4s cubic-bezier(.2,.95,.57,.99);
				    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
				}
				&:hover::before, &:hover::before{
					opacity:1;
					width: 116%;
				}
				&::after, &:hover::after{
					opacity:1;
					width: 120%;
				}
			}
		}
	}
	@media(max-width: 569px) {
		.menu {
			display: none;
		}
	}
}
@media(max-width: 569px) {
	#head {
		padding: 2.5rem 0rem;
	}
}

#login {
	.login-img {
		img {
			max-width: 760px;
			position: absolute;
			left: 120px;
			top: 15%;
		}
	}
	.form-box {
		padding: 7rem 0rem;
		h2 {
			color: $color-white;
			font-family: 'Noto Serif', serif;
			font-weight: bold;
			font-size: 2.2rem;

		}
		form {
			font-family: 'Titillium Web', sans-serif;
			color: #ffffff;
			margin: 1.5rem 0rem;
			.form-control {
				color: #ffffff;
			    padding: 1.2rem 1.5rem;
			    font-size: 1rem;
			    line-height: 1.25;
			    background-color: #fff0;
			    border: 2px solid rgb(255, 255, 255);
			    border-radius: 35px;
			    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
			    letter-spacing: 1px;
			    &:focus {
			        border-color: $color-soft-blue;
			        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
			    }
			}
			::placeholder { /* Firefox, Chrome, Opera */ 
			    color: $color-white;
			} 
			:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
			    color: $color-white;
			} 
				
			.btn-primary {
				background-color: $color-blue;
				border-color: $color-blue;
				padding: 1.2rem 1.5rem;
				width: 100%;
				font-size: 1rem;
			    border-radius: 35px;
			    text-transform: uppercase;
			    letter-spacing: 1px;
			    cursor: pointer;
			    transition: all 0.5s;
			    position: relative;
  				transition: 0.5s;
			    
			    &::after {
			    	content: '\f30b';
			    	font-weight: 900;
			    	font-family: "Font Awesome 5 Free";
			    	margin-left: 6px;
  					position: absolute;
					opacity: 1;  
					top: 18px;
					right: 41%;
					transition: 0.3s;
				}
				&:hover{
					padding-right: 24px;
					padding-left:8px;
					background: $color-pink;
					border-color: $color-pink;
				}
				&:hover:after {
					content: '\f101';
					opacity: 1;
					right: 40%;
					top: 18px;
				}			   
			}
			
		}
		ul li {
			list-style-type: none;
			text-align: right;
			color: $color-white;
			font-family: 'Open Sans', sans-serif;
			margin-bottom: 0.25rem;
			font-size: 0.8rem;

			a {
				color: $color-white;
				text-decoration: underline;
				transition: 0.3s;
				&:hover {
					color: $color-soft-blue;	
				}
			}
		}
	}
	.menu {
		display: none;
	}
	@media(max-width: 1199px) {
		.login-img {
			img {
				max-width: 560px;
				left: 50px;
			}
		}
		.form-box {
			padding: 5rem 0rem;
			form {
				.btn-primary {
				    &::after {
						right: 38%;
					}
					&:hover:after {
						right: 39%;
					}			   
				}
			}
		}
	}
	@media(max-width: 769px) {
		.login-img {
			img {
				max-width: 460px;
				left: 0px;
			}
		}
		.form-box {
			padding: 2rem 0rem 4rem 0rem;
			form {
				.btn-primary {
				    &::after {
						right: 36%;
					}
					&:hover:after {
						right: 37%;
					}			   
				}
			}
		}
	}
	@media(max-width: 569px) {
		.login-img {
			display: none;
		}
		.form-box {
			h2 {
				font-size: 1.6rem;
			}
			padding: 2rem 0.75rem 1rem 0.75rem;
			text-align: center;
			form {
				.btn-primary {
				    &::after {
						right: 36%;
					}
					&:hover:after {
						right: 37%;
					}			   
				}
			}
			ul li {
				text-align: center;
			}
		}
	}
}
@media(max-width: 569px) {
	#login {
		padding-bottom: 3rem;
		.menu{
			text-align: center;
			display: initial;
			ul {
				margin: 0rem 0.75rem 0rem -1.75rem;
				li{
					display: inline-block;
					text-decoration: none;
					width: 100%;
					.ghost {
						font-family: 'Titillium Web', sans-serif;
					    text-transform: uppercase;
					    letter-spacing: 2px;
					    color: $color-white;
					    cursor: pointer;
					    background: $color-pink;
					    text-align: center;
					    border: 1px solid $color-pink;
					    border-radius: 50px;
					    position: relative;
					    overflow: hidden!important;
					    -webkit-transition: all .3s ease-in-out;
					    -moz-transition: all .3s ease-in-out;
					    -o-transition: all .3s ease-in-out;
					    transition: all .3s ease-in-out;
					    z-index:10;
					    display: block;
					    width: 100%;
					    padding: 1rem;
						&:hover{
							border: 1px solid $color-white;
							color: $color-pink;
						}
						&:before {
						    content: '';
						    width: 0%;
						    height: 100%;
						    display: block;
						    background: $color-white;
						    position: absolute;
							  -ms-transform: skewX(-20deg);
						    -webkit-transform: skewX(-20deg); 
						    transform: skewX(-20deg);   
						    left: -10%;
						    opacity: 1;
						    top: 0;
						    z-index: -12;
						    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
							-o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
							-webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
							transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
							box-shadow:2px 0px 14px rgba(0,0,0,.6);
						}
		 				&:after {
						    content: '';
						    width: 0%;
						    height: 100%;
						    display: block;
						    position: absolute;
							-ms-transform: skewX(-20deg);
						    -webkit-transform: skewX(-20deg); 
						    transform: skewX(-20deg);   
						    left: -10%;
						    opacity: 0;
						    top: 0;
						    z-index: -15;
						    -webkit-transition: all .94s cubic-bezier(.2,.95,.57,.99);
						    -moz-transition: all .4s cubic-bezier(.2,.95,.57,.99);
						    -o-transition: all .4s cubic-bezier(.2,.95,.57,.99);
						    transition: all .4s cubic-bezier(.2,.95,.57,.99);
						    box-shadow: 2px 0px 14px rgba(0,0,0,.6);
						}
						&:hover::before, &:hover::before{
							opacity:1;
							width: 116%;
						}
						&::after, &:hover::after{
							opacity:1;
							width: 120%;
						}
					}
				}
			}
		}
	}
}